.quote{
    display: flex;
    justify-content: center;
}

.quote q{
    padding: 0px 12px;
    font-weight: 800;
    font-size: 28px;
}

.factor{
    flex-direction: column;
}

.factor-para{
    padding-right: 23px;
}